
<h2>My Posts</h2>

<div class="card" ng-repeat="post in vm.postList" ng-model="post.likes" ng-dblclick="vm.like(post)">

    <div class="imageDiv" style="background-image:url('{{ post.image }}'); background-size: cover;">

    </div>
    <!-- <img class="postImage" src="{{ post.image }}" alt="" /> -->

  <p>
    Hashtags Go Here: {{ post.description }}
  </p>

  <p>
    Likes: {{ post.likes }}
    <span ng-show="vm.isShown" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  </p>

  <a href="/#/post/{{ post.id }}">
    post detail page
  </a>

</div>
