
<h2>My Posts</h2>

<div class="card" ng-repeat="post in vm.postList" ng-model="post.likes" ng-dblclick="vm.liked(post)">

    <div class="imageDiv"
         class="ng-style: expression;"
         style="background-image:url('{{ post.image }}');
         background-size: cover;
         background-position: center;">
    </div>

  <p>
    Hashtags Go Here: {{ post.description }}
  </p>

  <button>Likes: {{ post.likes }} </button>

  <p>
    <span ng-if="vm.likedPostId === post.id" class="heart glyphicon glyphicon-heart" aria-hidden="true"></span>
  </p>

  <a href="/#/post/{{ post.id }}">
    Edit / Delete
  </a>

</div>
