<div class="row">

  <div class="col-sm-offset-3 col-sm-6">

    <h2>Upload</h2>

    <form ng-submit="vm.uploadPost(post)">

      <p class="control">
        <input ng-model="post.image" type="text" class="form-control" placeholder="Image URL">
      </p>
      <p class="control">
        <input ng-model="post.description" type="text" class="form-control" placeholder="Name">
      </p>

      <button class="btn btn-default">Upload</button>

    </form>

    <img src="{{ post.image }}" alt="" />

  </div>

</div>
